App.config
bin/Debug/CRUD OPERATION.exe
bin/Debug/CRUD OPERATION.exe.config
bin/Debug/CRUD OPERATION.pdb
CRUD OPERATION.csproj
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CRUD OPERATION.sln
obj/Debug/CRUD OPERATION.csproj.AssemblyReference.cache
obj/Debug/CRUD OPERATION.csproj.CoreCompileInputs.cache
obj/Debug/CRUD OPERATION.exe
obj/Debug/CRUD OPERATION.csproj.FileListAbsolute.txt
obj/Debug/CRUD OPERATION.exe.config
obj/Debug/CRUD OPERATION.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
